* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}

body {
    background: url(./Background.jpg) center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    height: 60px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo do cabeçalho com transparência */
    position: fixed;
    top: 0;
    z-index: 1000; /* Garante que o cabeçalho esteja sobreposto */
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    padding: 5px 10px;
}

header ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

header ul li a:hover {
    color: rgb(193, 22, 216);
    text-decoration: underline;
}

.container {
    text-align: center;
    margin-top: 100px; /* Espaçamento do topo para o conteúdo principal */
}

.name h1 {
    font-size: 40px;
}

.name h5 {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 10px;
}

#arrow {
    font-size: 35px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
    margin-top: 20px;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#animation {
    transition: 300ms;
}

.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}

.active {
    display: block !important;
}

@media only screen and (max-width: 600px) {
    /* Ajustes para telas menores, como celulares */
    .container {
        margin-top: 50px; /* Reduzir o espaçamento do topo em telas menores */
    }

    .name h1 {
        font-size: 30px; /* Reduzir o tamanho da fonte do título em telas menores */
    }

    .name h5 {
        font-size: 16px; /* Reduzir o tamanho da fonte do subtítulo em telas menores */
    }

    header {
        height: 50px; /* Reduzir a altura do cabeçalho em telas menores */
    }

    header ul li {
        padding: 5px; /* Ajustar o espaçamento dos itens do menu em telas menores */
    }
}
